$white: #fff;
$black: #000;

$bg-notification: rgb(45 45 45 / 0.8);
$bg-secondary: rgb(239 239 243);

$blue: rgb(0 122 255);
$cyan: rgb(90 200 250);
$gold: rgb(241 170 5);
$purple: rgb(175 81 222);
$green: rgb(53 199 89);
$separator: rgb(60 60 67 / 0.36);

$label-date: #6d6d71;
$label-secondary: #8e8e93;

$tabbar-icons: #959595;
$tabbar: rgb(241 241 242 / 0.75);

$primary: $blue;
