@use './reset';
@use './icons';

*,
*::before,
*::after {
  user-select: none;
  cursor: default;
}

:root {
  --text: #000;
  --text-secondary: #8e8e93;
  --primary: #007aff;
  --bg: #fff;
  --bg-secondary: #efeff3;
  --tabbar-bg: rgba(241, 241, 242, 0.75);
  --tabbar-button: #959595;
  --separator: rgb(60 60 67 / 0.36);

  &.dark {
    --text: #fff;
    --bg: #1c1c1e;
    --bg-secondary: #2c2c2e;
    --tabbar-bg: rgba(30, 30, 30, 0.75);
    --tabbar-button: #8e8e8e;
  }
}

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, system-ui, sans-serif;
  background: var(--bg);
  color: var(--text);
}

html,
body,
#app {
  height: 100%;
}
